@{
    ViewData["Title"] = "Cursos";
}

@section Scripts{
    <script>
        $(function () {

            render_action();

            $('#Buscar').keyup(search);
            $('#DataInicial, #DataFinal').focusout(search);
        });

        function search() {

            var filters = {
                Buscar: $('#Buscar').val(),
                DataInicial: $('#DataInicial').val(),
                DataFinal: $('#DataFinal').val()
            }

            render_action(filters);
        }

        function render_action(filters) {
            $.ajax({
                method: 'GET',
                url: '/Admin/Curso/Grid',
                dataType: 'html',
                data: filters,
                success: function (content) {
                    $('#Grid').html(content);
                }
            });
        }

    </script>
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <div class="card-body">

        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("lblNome", "Buscar por")
                        @Html.TextBox("Buscar", "", new { @class = "form-control", @placeholder = "'Descrição'", @autofocus = "autofocus" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("lblDataInicial", "Data Inicial")
                        @Html.TextBox("DataInicial", "", new { @class = "form-control", @type = "date", @name = "date" })
                    </div>

                    <div class="col-md-2">
                        @Html.Label("lblDataFinal", "Data Final")
                        @Html.TextBox("DataFinal", "", new { @class = "form-control", @type = "date", @name = "date" })
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <a href="@Url.Action("Adicionar", "Curso")" style="margin-top: 26px;" class="btn btn-sm btn-primary btn-block" title="">Adicionar</a>
            </div>
        </div>

    </div>
</div>

<div id="Grid"></div>