@model DiscenteViewModel

@{
    ViewData["Title"] = "Discente - Detalhes";
}

<div class="tab-pane active">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>

        <div class="card-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.Discente.Id)
            @Html.HiddenFor(a => a.Discente.DataCadastro)

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(a => a.Discente.Matricula)
                    @Html.TextBoxFor(a => a.Discente.Matricula, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.Discente.Nome)
                    @Html.TextBoxFor(a => a.Discente.Nome, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(a => a.Discente.Email)
                    @Html.TextBoxFor(a => a.Discente.Email, "", new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.Discente.Celular)
                    @Html.TextBoxFor(a => a.Discente.Celular, "", new { @class = "form-control celular", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.Discente.StatusId)
                    @Html.DropDownListFor(a => a.Discente.StatusId, HelperLista.Status(), null, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(a => a.Discente.DataCadastro)
                    @Html.TextBoxFor(a => a.Discente.DataCadastro, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @name = "date", @readonly = "readonly" })
                </div>
            </div>

            <div class="row clearfix margin-top-40">
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "Discente")" class="btn btn-default fa-pull-right">Fechar</a>
                </div>
            </div>
        </div>
    </div>
</div>