@model Site.Areas.Admin.Controllers.ViewModel.DashCardsViewModel

@{
    Layout = null;
}

<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-yellow"><i class="fa fa-address-card"></i> </div>
        <div class="content">
            <span>Total de Usuários</span>
            <h5 class="number mb-0">@Model.UsuarioTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-gray"><i class="fa fa-users"></i> </div>
        <div class="content">
            <span>Total de Discentes</span>
            <h5 class="number mb-0">@Model.DiscentesTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-success"><i class="fa fa-paper-plane"></i> </div>
        <div class="content">
            <span>Mensagens Enviadas</span>
            <h5 class="number mb-0">@Model.MensagemEnviadaTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-warning"><i class="fa fa-paper-plane"></i> </div>
        <div class="content">
            <span>Mensagens a Serem Enviadas</span>
            <h5 class="number mb-0">@Model.MensagemNaoEnviadaTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-dark"><i class="fa fa-paper-plane"></i> </div>
        <div class="content">
            <span>Total de Mensagens</span>
            <h5 class="number mb-0">@Model.MensagemTotal.ToString()</h5>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body top_counter">
        <div class="icon bg-azure"><i class="fa fa-users"></i> </div>
        <div class="content">
            <span>Total de Cursos</span>
            <h5 class="number mb-0">@Model.CursosTotal.ToString()</h5>
        </div>
    </div>
</div>